.calculadora{
  background:plum;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.calculadora input{
  background: red
  color: black;
  pedding:5px;
  border-radius:5px;
}
#sptotal {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.calculadora button{
  background: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.calculadora button:hover{
  background: black;
  color: white;
  cursor: pointer;
}
